<div *ngIf="report">
  <app-card [class]="'mb-8 flex flex-col gap-4'">
    <p class="font-semibold">{{ title }}</p>

    <ng-container *ngIf="report && (!report.gatewayId || !report.projectId)">
      <app-report-payments-group
        *ngFor="let subReport of subReports"
        [subReport]="subReport"
        [report]="report"
      ></app-report-payments-group>
    </ng-container>

    <app-report-payments-table
      *ngIf="report.gatewayId && report.projectId"
      [columns]="tableColumns"
      [rows]="report.getPaymentsSortedByDate()"
    ></app-report-payments-table>
  </app-card>

  <div class="rounded-xl p-4 bg-sky-50 font-semibold">
    {{ getTotalAmountString() }}
  </div>
</div>
