<div
  class="font-semibold flex flex-col items-center text-center max-w-xl mx-auto mt-16"
>
  <h2 class="text-2xl">No reports</h2>
  <p class="text-gray-500">
    Currently you have no data for the reports to be generated. <br />
    Once you start generating traffic through the Balance application the
    reports will be shown.
  </p>

  <img
    class="mt-8 h-48"
    src="assets/svg/segmentation.svg"
    alt="Chart illustration"
  />
</div>
