.select-custom-arrow {
  appearance: none;
  background-image: url('/assets/svg/chevron-down.svg');
  background-repeat: no-repeat, repeat;
  background-position: right .5em top 50%, 0 0;
  background-size: 1.5rem auto, 100%;
}

.datepicker-custom-icon {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }

  &:before {
    content: ' ';
    background-image: url('/assets/svg/calendar.svg');
    background-repeat: no-repeat;
    background-position: right .5em top 50%, 0 0;
    background-size: 1.5rem auto, 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 6px;
  }
}
