<div class="container p-16 flex flex-col space-y-8">
  <div class="flex justify-between items-start">
    <div>
      <h1 class="text-2xl font-semibold">Reports</h1>
      <p class="font-semibold text-gray-500">
        Easily generate a report of your transaction
      </p>
    </div>

    <div class="flex space-x-4">
      <select
        class="rounded text-white pl-4 pr-8 py-2 bg-teal-500 w-40 select-custom-arrow"
        (change)="onProjectSelected($event)"
      >
        <option value="" [selected]="!filtersService.projectId">
          All projects
        </option>
        <option
          *ngFor="let project of projects"
          [value]="project.projectId"
          [selected]="project.projectId === filtersService.projectId"
        >
          {{ project.name }}
        </option>
      </select>

      <select
        class="rounded text-white pl-4 pr-8 py-2 bg-teal-500 w-40 select-custom-arrow"
        (change)="onGatewaySelected($event)"
      >
        <option value="" [selected]="!filtersService.gatewayId">
          All gateways
        </option>
        <option
          *ngFor="let gateway of gateways"
          [value]="gateway.gatewayId"
          [selected]="gateway.gatewayId === filtersService.gatewayId"
        >
          {{ gateway.name }}
        </option>
      </select>

      <input
        class="rounded text-white px-4 py-2 bg-teal-500 w-40 datepicker-custom-icon"
        type="date"
        min="2021-01-01"
        max="2021-12-31"
        (change)="onDateFromChanged($event)"
      />

      <input
        class="rounded text-white px-4 py-2 bg-teal-500 w-40 datepicker-custom-icon"
        type="date"
        min="2021-01-01"
        max="2021-12-31"
        (change)="onDateToChanged($event)"
      />

      <button
        class="rounded text-white px-4 py-2 bg-sky-700"
        (click)="generateReport()"
      >
        Generate report
      </button>
    </div>
  </div>

  <app-no-data *ngIf="!report?.hasData()"></app-no-data>
  <app-report *ngIf="report?.hasData()" [report]="report"></app-report>
</div>
