<app-card
  [class]="'w-full bg-white font-semibold flex justify-between cursor-pointer'"
  (click)="toggleTableVisibility()"
>
  <p>{{ getTitle() }}</p>
  <p>{{ getTotalAmount() }}</p>
</app-card>

<app-report-payments-table
  [hidden]="!showTable"
  [columns]="getTableColumns()"
  [rows]="subReport?.getPaymentsSortedByDate()"
></app-report-payments-table>
