<table *ngIf="columns && rows" class="table-auto w-full mt-4">
  <thead>
    <tr class="bg-white h-10">
      <th
        *ngFor="let column of columns; let index = index"
        class="font-semibold text-center first:pl-4 first:text-left"
        [ngClass]="{
          'last:pr-4 last:text-right': columns.length > 1
        }"
      >
        {{ column.header }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of rows" class="h-10 even:bg-white">
      <td
        *ngFor="let column of columns; let index = index"
        class="text-center first:pl-4 first:text-left"
        [ngClass]="{
          'last:pr-4 last:text-right': columns.length > 1
        }"
      >
        {{ column.getter(row) }}
      </td>
    </tr>
  </tbody>
</table>
